<h1><%= @article.title %></h1>
<p>
    <%= @article.text %>
</p>

<hr/>

<h2>Comments</h2>

<% @article.comments.each do |comment| %>
    <p>
        <i><%= comment.author %> wrote: </i><br/>
           <%= comment.body %>
    </p>
<% end %>

<h3>Add comment</h3>

<p>
    <%= form_for([@article, @article.comments.build]) do |f| %>
    
            <p>
				<%= f.text_area :body, class: "form-control", rows: "4", style: "width: 300px" %>
			</p>
			

			<p>
				<%= f.submit"Add", class: "btn btn-success" %>
			</p>
			
    <% end %>
</p>